.test{
    background-color: red;
    padding: 0px;
}

nav ul {
    list-style-type: none;
    background: cyan;
    padding: 0px;
    margin-top: 0px;
    font-size: 40px;
    justify-content: flex-end;
    display: flex;
    width: 100%;
    position: center;
}
nav ul li:first-child {
    margin-right: auto;
}
nav ul li::after {
    margin-left: 10px;
    margin-right: 10px;
}


body{
    background-repeat: repeat;
}

