.first-n-last{
    font-size: 70px;
    vertical-align: middle;
}
.second-secondlast{
    font-size: 60px;
    vertical-align: middle; 
}
.third-thirdlast{
    font-size:50px;
    vertical-align: middle;
}
.fourth-fourthlast{
    font-size: 40px;
    vertical-align: middle;
}
.remainder-letters{
    font-size: 30px;
    vertical-align: middle;
}

.name{
    left:50%;
    transform: translate(-50%,0);
    position:fixed;
    font-family: Danfo;
    color: red;
    background-color: rgb(200, 255, 0);
    justify-content: center;
    
}

.name_border{
    background-color: aquamarine;
    width: 100%;
}